$solid-orange: rgb(255,107, 0);
$light-orange: rgb(241, 148, 80);

.custom-button {
    border: none;
    background-color: transparent;
    padding: 1rem 2rem;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;

    &:hover {
        opacity: .8;
    }
}
.custom-button.light {
    border: 1px solid $solid-orange;
    color: $solid-orange;
}
.custom-button.dark {
    border: 1px solid $solid-orange;
    background-color: $solid-orange;
    color: #fff;
}
.custom-button.danger {
    border: 1px solid rgba(211, 47, 47, 0.5);
    background-color: transparent;
    color: #d32f2f;
}