.erorr-404-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: center;
  
    h1 {
      font-weight: 900;
      font-size: 3rem;
    }
    p {
      font-size: 1.6rem;
      margin-bottom: 10px;
    }
  
    a {
      font-size: 1.2rem;
      text-transform: uppercase;
      color: cornflowerblue;
    }
  }