.spinner-container {
  width: 100%;
  text-align: center;
  padding: 2rem 0;

  .spinner {
    transition-delay: 250ms;
    border-radius: 50%;
    border-top-color: #ac0d0d;
    opacity: 1;
    margin: auto;
    width: 36px;
    height: 36px;
    transition: opacity 250ms;
    animation: rotate-spinner 1s linear;
    animation-iteration-count: infinite;
  }
}

@keyframes rotate-spinner {
  100% {
    transform: rotate(360deg);
  }
}
